.card {
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 0px;
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 16%;
    margin-bottom: -5%;

}

.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    width: 100%;
    height: 40%;
    z-index: 1;
}

.card .avatar {
    position: relative;
    margin-top: 4%;
    z-index: 100;
}

.card .avatar img {
    width: 141px;
    height: 141px;
    /* width: 60%;
    height: 60%; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.friendly {
    padding: 0px;
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 10%;
}

#rightcontainer {
    background-color: #E4EBF3;
    min-height: 600px;
    width: 100%;

}

.leftcontainer {
    background-color: #292d32;
    height: 600px;
}

.nav-padding {
    padding: 22%
}

html {
    min-height: 100%;
}

body {
    font-family: system-ui;
    /* background-image: linear-gradient(#ffffff, rgb(172, 172, 134), #796155); */
    /* background: #fff */

}

.nav-prop {
    background-color: #292d32;
    margin-top: -15%;
}

.circleonclick {
    height: 30px;
    width: 30px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    background: #4FBF65;
    margin: 0px 7px 0px 0px;
    font-size: 20px;
    text-align: center;
}

.circlebeforeclick {
    height: 30px;
    width: 30px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    background: #626c76;
    margin: 0px 7px 0px 0px;
    font-size: 20px;
    text-align: center;
}

.circleafterclick {
    height: 30px;
    width: 30px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    background: #6c70dc;
    margin: 0px 7px 0px 0px;
    font-size: 20px;
    text-align: center;
}

.nameproperty {
    display: inline-table;
    width: 110%;
    height: 100%;
    margin: 0px 0px 30px;
    color: #FFFFFF
}

.selected {
    color: #4FBF65;
}

.non-selected {
    color: #FFFFFF;
}

.nav-link {
    color: white;
}

#myclass {
    color: white
}

.img-fluid{
    max-width: 85%;
}


/* date and time */
.datepickr, .timepickr {
    background-color: greenyellow;
    text-align: left;
    width: 690px;
}

.dateandtimediv{
    display: inline-block;
    margin: 0px 0px 15px;
    height: 76px;
    width: 90%;
    padding: 0px;
    /* background: #FFF; */
    /* box-shadow: 0px 0px 5px #555; */
    /* filter: drop-shadow(0px 0px 5px #555); */
    /* -webkit-filter: drop-shadow(0px 0px 5px #555); */
    /* filter: drop-shadow(0px 0px 5px #555); */
    border-radius: 2px;
    padding: 13px 20px;
    margin-top: 0%;
}


#dateandtimediv{
    display: inline-block;
    margin: 0px 0px 15px;
    height: 76px;
    width: 100%;
    /* padding: 0px; */
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 2px;
    padding: 13px 20px;
    margin-top: 35%;
    /* margin-top: calc(100% - 120px); */
    /* margin-top: 35%; */
    /* float: right; */
}

#confirmationbutton {
    float: right;
    color: white;
    background: #6c70dc;
    height: 36px;
    padding: 5px;
    border-radius: 2px;
    font-size: smaller;
    margin: 7px;
}

/* information */

#informationdiv {
    display: inline-block;
    margin: 0px 0px 15px;
    height: 76px;
    width: 95%;
    padding: 0px;
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 2px;
    padding: 13px 20px;
    margin-top: 33%;
    margin-left: 2%;
}

.date-time{
    width: 49%;
}

/* confirmation */

#friendly1 {
    display: inline-block;
    /* margin: 0px 0px 15px; */
    height: 76px;
    width: 92%;
    /* width: 690px; */
    /* padding: 0px; */
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 2px;
    padding: 13px 20px;
    margin-left: 4%;
}

#friendly2 {

    display: inline-block;
    margin: 8px;
    /* height: 309px; */
    height: 52%;

    /* width: 370px; */
    width:46%;
    padding: 0px;
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 2px;
    padding: 13px 20px;
    position: absolute;
    left: 3%;

}

#friendly3 {
    display: inline-block;
    margin: 8px;
    /* height: 309px; */
    height: 52%;

    /* width: 305px; */
    width:40%;
    padding: 0px;
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 2px;
    padding: 13px 20px;
    position: absolute;
    right: 3%;
}

#friendly4 {
    display: inline-block;
    /* margin: 0px 0px 15px; */
    height: 76px;
    /* width: 690px; */
    /* padding: 0px; */
    background: #FFF;
    box-shadow: 0px 0px 5px #555;
    filter: drop-shadow(0px 0px 5px #555);
    -webkit-filter: drop-shadow(0px 0px 5px #555);
    filter: drop-shadow(0px 0px 5px #555);
    border-radius: 2px;
    padding: 13px 20px;
    margin-top: 40%;
    width: 92%;
    margin-left: 4%;

}



#veryouter{
    background: #E4EBF3;
    min-height:600px;
    height:600px;
}

#discountinput{
    position: relative;
    bottom: 22%;
    /* right: 28%; */
    color: #477e51;
    width: 50%;
}


@media (max-width: 575px) {
    .nav-prop {
        background-color: #292d32;
    }
    #rightcontainer {
        background-color: #E4EBF3;
        min-height: 600px;
        margin-bottom: 25%;
    }
    .card {
        margin-top: 5%;
        margin-bottom: 0%;
    }

    /* body {
        background: rgb(121, 110, 16)
    } */

    #dateandtimediv{
        margin-top: 59%;
    }

    #informationdiv {
        margin-top: 57%;
    }
    #friendly4{
        margin-top:71%;
    }
    
}

.forinfolabelmargin{
    margin-left: 2%;
}

.forconfirmlabelmargin{
    margin-left: 2%;
    margin-top: 50px;
}
/* Medium devices (tablets) */

@media (min-width: 768px) {
    body {
        background: blue
    }
    #dateandtimediv{
        margin-top: 59%;
    }
    #informationdiv {
        margin-top: 57%;
    }
}

/* Large devices (desktops) */

@media (min-width: 992px) {
    body {
        background: green;
    }
    
    #dateandtimediv{
        margin-top: 43%;
    }
    #informationdiv {
        margin-top: 41%;
    }
    #friendly4{
        margin-top:48%;
    }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
    body {
        background: yellow;
    }
    #dateandtimediv{
        margin-top: 35%;
    }
    #informationdiv {
        margin-top: 33%;
    }
    #friendly4{
        margin-top:40%;
    }
}

/* The given screen size or smaller */

/* for smaller and little big */
@media (max-width: 767px) {

    body {
        background: rgb(80, 80, 64);
    }
    
    .leftcontainer {
        height: auto
    }
    .nav-prop {
        width: 100%;
        background-color: #292d32;
        margin-top: 40%

    }
    
    .card .avatar {
        margin: 2%;
        width: 26%;
        height: 60%;
        margin-left: 36%;
    }
    .nav-link {
        display: none;

    }

    .card .avatar img {
        height: 50px;
    }

    #dateandtimediv{
        margin-top:67%;
    }
    #informationdiv {
        margin-top: 65%;
    }
    /* #friendly4{
        margin-top:87%;
    } */
}

/* Small devices (landscape phones)*/

@media (max-width: 767px) {}

/* Medium devices (tablets)*/

@media (min-width: 768px) and (max-width: 991px) {
    .nav-prop {
        margin-left: -20%;
      
    }
    body {
        background: rgb(240, 75, 9);
    }

    #friendly4{
        margin-top:65%;
    }
   
}

@media (min-width: 576px) and (max-width: 766px) {
 

    #friendly4{
        margin-top:87%;
    }
   
}

#h3_ {
    color: green;
}

a:hover{
    color: inherit;
}

/* Large devices (desktops)*/

@media (max-width: 1199px) {}










